<!DOCTYPE html>
<html lang="en">
<title>DASHAIN GREETING API</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>



<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">DASHAIN GREETING API</h1>
  <p class="w3-xlarge">Solely a Nepali Product...</p>
  <a class="w3-button w3-red w3-padding-large w3-large w3-margin-top" href="https://github.com/sulavmhrzn/dashain-greeting-api"> <i class="fa fa-github  w3-text-white"></i> View Source Code</a>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 id="dashain-greetings">Dashain Greetings</h1>
<p>Dashain Greetings Api provides list of greetings for <em>Dashain Festival</em></p>
<h1 id="endpoints-">Endpoints:</h1>
<h2 id="all-greetings">All greetings</h2>
<p><a href="https://dashain.herokuapp.com/api/greetings/">https://dashain.herokuapp.com/api/greetings/</a></p>
<h2 id="greetings-by-id-int-id-">Greetings by id (int:id)</h2>
<p><a href="https://dashain.herokuapp.com/api/greetings/1">https://dashain.herokuapp.com/api/greetings/1</a></p>
<h2 id="greetings-by-language">Greetings by language</h2>
<ol>
<li>Nepali:
 <a href="https://dashain.herokuapp.com/api/greetings/lang/nepali">https://dashain.herokuapp.com/api/greetings/lang/nepali</a></li>
<li>English:
 <a href="https://dashain.herokuapp.com/api/greetings/lang/english">https://dashain.herokuapp.com/api/greetings/lang/english</a></li>
</ol>
<h2 id="random-greetings">Random greetings</h2>
<p><a href="https://dashain.herokuapp.com/api/greetings/random">https://dashain.herokuapp.com/api/greetings/random</a></p>
<h2 id="language-specific-random-greetings">Language specific random greetings</h2>
<ol>
<li><a href="https://dashain.herokuapp.com/api/greetings/lang/nepali/random">https://dashain.herokuapp.com/api/greetings/lang/nepali/random</a></li>
<li><a href="https://dashain.herokuapp.com/api/greetings/lang/english/random">https://dashain.herokuapp.com/api/greetings/lang/english/random</a></li>
</ol>
<h2 id="how-these-greetings-were-collected">How these greetings were collected</h2>
<p>The majority of greetings were contributed!</p>
<h2 id="make-a-contribution-">Make a contribution!</h2>
<p>Submit a Pull Request, with your greeting added to the greetings/index.json file. Make sure the greeting is in this format:</p>
<pre><code>{
    <span class="hljs-attr">"id"</span>: last greeting id + <span class="hljs-number">1</span>,
    <span class="hljs-attr">"language"</span>: <span class="hljs-string">"nepali"</span>,
    <span class="hljs-attr">"greeting"</span>: <span class="hljs-string">"Greeting here...."</span>
}
</code></pre><h2 id="inspired-from">Inspired from</h2>
<p>This API was inspired from <a href="https://github.com/15Dkatz/official_joke_api">15Dkatz/official_joke_api</a></p>

    </div>

  </div>
</div>




</body>
</html>

